<div class="list-comments">
  <% comments.map do |comment, nested_comments| %>
    <% user = comment.user %>
    <div class="comment">
      <div class="media">
        <div class="media-left">
          <a href="#">
            <%= image_tag "", class: "media-object avatar-image" %>
          </a>
        </div>
        <div class="media-body">
          <h4 class="media-heading">by <%= user.present? ? user.email : "no one" %>
            <small><i><%= time_ago_in_words comment.created_at %></i></small>
          </h4>
          <p><%= comment.content %></p>

        <% if user_signed_in? %>
          <div class="action action-<%= comment.id %>">
            <% if comment.depth != 4 %>
              <%= link_to t("comments.reply"), new_comment_path(comment.post.id, comment.id),
                class: "reply-comment reply-comment-#{comment.id}", remote: true %> |
            <% end %>

            <% if can? :update, comment %>
              <%= link_to t("comments.edit"), edit_comment_path(comment.id),
                class: "update-comment", remote: true %> |
            <% end %>
            <% if can? :destroy, comment %>
              <%= link_to t("comments.destroy"), comment_path(comment.id),
                data: {method: :delete, confirm: t("comments.confirm")},
                class: "destroy-comment", remote: true %>
            <% end %>
          </div>
        <% end %>
          <%= render "comments/comments", comments: nested_comments %>
        </div>
      </div>
    </div>
  <% end %>
</div>
