<ul class="nav navbar-nav navbar-right">
  <% if user_signed_in? %>
    <li class="dropdown">
      <a class="dropdown-toggle" data-toggle="dropdown" href="#">
        <%= image_tag "logo", class: "image-profile" %>
        <%= current_user.email %>
        <span class="caret"></span>
      </a>
      <ul class="dropdown-menu sub-mennu">
        <li><a href="#">
          <i class="fas fa-user"></i>
          <%= t "pages.header.profile" %>
          </a></li>
        <li>
          <%= link_to destroy_user_session_path, method: :delete do %>
            <i class="fas fa-sign-out-alt"></i>
            <%= t("pages.header.logout") %>
          <% end %>
        </li>
      </ul>
    </li>
  <% else %>
    <li><a href="<%= new_user_registration_path %>"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
    <li><a href="<%= new_user_session_path %>"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
  <% end %>
</ul>