<div class="my_interests">
  <div class="title">
    <%= t "about_me.interests.title" %>
  </div>
  <div class="content">
    <%= t "about_me.interests.content" %>
  </div>

  <div class="action">
    <ul>
      <li class="gym">
        <%= t "about_me.interests.gym" %>
      </li>

      <li class="code">
        <%= t "about_me.interests.code" %>
      </li>

      <li class="game">
        <%= t "about_me.interests.game" %>
      </li>

      <li class="travel">
        <%= t "about_me.interests.travel" %>
      </li>

      <li class="love">
        <%= t "about_me.interests.love" %>
      </li>

      <li class="earn_money">
        <%= t "about_me.interests.earn_money" %>
      </li>
    </ul>
  </div>
</div>
