<div class="row">
  <div class="col-md-12">
    <%= render "pages/introduce_yourself" %>
    <p class="introduce-yourself-text">
      <%= t "introduce.yourself" %>
    </p>
    <%= render "pages/professional_skill" %>
    <%= render "pages/work_experience" %>
    <%= render "pages/education" %>
    <%= render "pages/my_interests" %>
  </div>
</div>


<style type="text/css">
  .logo {
    display: none;
  }
</style>
