<div class="row">
	<div class="col-md-9">
		<% @posts.each do |post| %>
			<div class="post-box">
				<div class="header">
					<%= link_to post, class: "image-post-link" do %>
						<%= image_tag post.image_post.to_s, class: "image-post" %>
						<div class="title-post">
							<h2><%= post.title %></h2>
						</div>
					<% end %>

				</div>

				<div style="clear: both;"></div>

				<div class="body">
					<div class="information">
						<i class="fa fa-user"></i>
						<a href="">Sora Templates</a>
						<i class="fa fa-calendar-o"></i>
						<abbr><%= l post.created_at, format: :long %></abbr>

						<%= link_to post, class: "comment" do %>
							<i class="fa fa-comment"></i> <%= post.comments.size || 0 %>
						<% end %>
					</div>

					<div class="content">
						<%= truncate post.content, length: 500 %>
					</div>
				</div>

				<div class="footer">
					<div class="category">
						<i class="fa fa-folder-open-o" aria-hidden="true"></i>Category
					</div>

					<div class="read-more">
						<%= link_to "Read more", post %>
					</div>
				</div>
			</div>
		<% end %>

		<div class="col-md-offset-4">
			<%= paginate @posts, theme: 'twitter-bootstrap-3' %>
		</div>
	</div>

	<div class="col-md-3">
		<%= render "shared/sidebar-menu", popular_posts: @popular_posts %>
	</div>
</div>