<div class="row">
	<div class="col-md-9">
		<div class="show-post">
			<h3 class="title"><%= @post.title %></h3>
			<div class="information">

			</div>

			<div class="image-post">
				<%= image_tag @post.image_post.to_s, class: "image-post-img" %>
			</div>

			<div class="content">
				<%= @post.content %>
			</div>

			<div class="footer clearfix">
				<div class="network-social">
					<div class="item">Share this
						<%= link_to "#", class: "network-item fb" do %>
								<i class="fab fa-facebook-f"></i>
							<% end %>

						<%= link_to "#", class: "network-item google" do %>
								<i class="fab fa-facebook-f"></i>
							<% end %>

						<%= link_to "#", class: "network-item twitter" do %>
							<i class="fab fa-facebook-f"></i>
						<% end %>

					</div>
				</div>

				<div class="author">
					-by <%= @post.author.email.to_s %>
				</div>
			</div>

			<div class="about-me">

			</div>

			<div class="row recent-post">
				<% @recent_posts.each do |post| %>
					<div class="col-md-4">
						<div class="post">
							<a href="">
								<%= image_tag post.image_post.to_s, class: "image-post-img" %>
								<%= post.title %>
							</a>
						</div>
					</div>
				<% end %>
			</div>

			<div class="comments">
				<div class="number-comments">
					<%= @comments.size %> comment
				</div>
			</div>
		</div>
	</div>

	<div class="col-md-3">
		<%= render "shared/sidebar-menu", popular_posts: @popular_posts %>
	</div>
</div>