<div class="show-category">
	<div class="main-image">
		<%= image_tag @category.image_category.to_s %>
		<div class="category-name">
			<p class="name"><%= @category.name %></p>
			<p>
				<%= @category.description.blank? ? "Code, code more, code forever!" : @category.description %>
			</p>
		</div>
	</div>

	<div class="posts clearfix">
		<% @posts.each do |post| %>
			<%= link_to post, class: "post-item" do %>
				<%= image_tag post.image_post.to_s, class: "image-post" %>
				<div class="contents">
					<div class="tags">
						<ul>
							<% post.tag_list do |tag| %>
								<li><%= tag.name %></li>
							<% end %>
						</ul>
						<div style="clear: both;"></div>
					</div>

					<div class="post-name">
						<%= post.title %>
					</div>

					<div class="infos clearfix">
						<span class="date"><%= l post.created_at, format: :long %></span> | <span class="author"><%= post.author.try(:email) %></span>
					</div>
				</div>
			<% end %>
		<% end %>

		<%#= link_to "Load more", "#", class: "btn btn-default load-more" %>

	</div>
</div>
